/*  your css code here. If applicable */
.main-container {
	background-color: #f5f5f5;
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	
}
.header {
	width: 100%;
	height: 40px;
	margin: 0 auto;
	padding: 10px;
	font-size: 30px;
	font-family: "Arial" , "sans-serif";
	background-color: #011e29;
	text-align: center;
	color: white;
}

.sub-container {
	display: flex;
	flex-direction: row;
}
.latest-news-section{
	width: 25%;
	height: 150px;
	border: 1px solid white;
	border-radius: 15px;
	background-color: white;
	margin-top: 10px;
	margin-left: 5px;
	padding: 10px;
	text-align: center;
}

.main-article-section {
	text-align: center;
	height: 220px;
	width: 40%;
	background-color: white;
	border: 1px solid white;
	border-radius: 15px;
	text-align: center;
	margin-top: 10px;
	margin-left: 5px;
	padding: 10px;
}
.pictorial-news-section {
	height: 400px;
	width: 30%;
	background-color: white;
	border: 1px solid white;
	border-radius: 15px;
	margin: 7px;
	padding: 5px;
	text-align: center;
}

.image {
	width: 100%;
	height: 25%;
	margin-top: 5px;
}